.top_section {
  width: 100%;
  position: relative;
  background-image: linear-gradient(-225deg, rgba(2, 85, 138, 0.75) 0%, rgba(50, 204, 233, 0.75) 100%);
  height: rem(640px);

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 rem(10px);
  }
}

.top_contet {
  width: 100%;
  position: relative;
  text-align: center;

  h2 {
    color: #ffffff;
    font: 700 rem(40px)/1.3 "Clear Sans";
    margin-bottom: rem(25px);

    span {
      display: block;
    }
  }

  p {
    font-family: "Open Sans";
    font: 300 rem(20px)/1 "Open Sans";
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  fill: #3f82f0;

  svg {
    transform: rotate(180deg);
    height: auto;
  }
}

.wave_second {
  bottom: 0;
  top: auto;

  svg {
    transform: rotate(0);
  }
}
